.informacoesProjeto{
    position: absolute;
    display: inline-block;
    align-items: center;
    left: 30%;
    top: 15%;
    text-align: center;
}
.nomeProjeto{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
.descProjeto{
    color: #ffffff;
    font-family: 'Inconsolata', monospace;
    width: 800px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadingIcon {
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-top: 3px solid #317c3b;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite; /* Apply the spinning animation */
    position: absolute;
    display: flex;
    align-items: center;
    top:48%;
    left: 50%;
}
.informacoesProjeto img{
    border-radius: 8px;
    width: 600px;
    height: auto;
}