/*.container{*/
/*    color: #ffffff;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    top: 90%;*/
/*    overflow-block: hidden;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
.container{
    position: absolute;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
    top:93%;
}
.container a{
    color: #399d45;
    margin-right: 60px;
}
.footerLinks{
    position: relative;
    width: max-content;
    left: 40%;
}
.footerDesc{
    position: relative;
    width: max-content;
    left: 38%;
}