.homepageContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left:30%;
    padding: 0;
    margin: 0;
}
.title{
    font-family: 'Raleway', sans-serif;
    color:#ffffff;
    font-size: xxx-large;
    margin-bottom: 5px;
}
.title2{
    font-family: 'Raleway', sans-serif;
    color:#399d45;
    font-size: xx-large;
    margin-top:5px;
}
.pfp{
    height: 400px;
    position: absolute;
    left:55%;
    top:15%;
    border-radius: 9px;
}
.infoContainer{
    position: absolute;
    width: 1000px;
    left: 25%;
    top: 70%;
}
.infoContainer p{
    font-family: 'Inconsolata', monospace;
    font-size:large;
    color:#ffffff;
    text-align: justify;
}
.cursor {
    display: inline-block;
    width: 8px;
    height: 18px;
    background-color: #ffffff;
    animation: blinkCursor 0.8s infinite;
}

@keyframes blinkCursor {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: #ffffff;
    }
}
.butao{
  margin-right: 5px;
  border-radius: 8px;
  border-color:#399d45;
  background-color: #399d45;
  color:#ffffff;
  font-size: x-large;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left:44%;
  top:82%;
}
.butao:hover{
    transform: scale(110%);
    transition: 200ms;
}