@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Raleway:wght@300&display=swap');
.homepageContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left:30%;
    padding: 0;
    margin: 0;
}
.title{
    font-family: 'Raleway', sans-serif;
    color:#ffffff;
    font-size: xxx-large;
    margin-bottom: 5px;
}
.title2{
    font-family: 'Raleway', sans-serif;
    color:#ffffff;
    font-size: xx-large;
    margin-top:5px;
}
.pfp{
    height: 400px;
    position: absolute;
    left:55%;
    top:15%;
}
.infoContainer{
    position: absolute;
    width: 1000px;
    left: 25%;
    top: 70%;
}
.infoContainer p{
    font-family: 'Inconsolata', monospace;
    font-size:large;
    color:#ffffff;
}